<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SAProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>pages/index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>safast.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewScheda</display-name>
    <servlet-name>ViewScheda</servlet-name>
    <servlet-class>safast.action.ViewScheda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewScheda</servlet-name>
    <url-pattern>/ViewScheda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ElencoSchedePersonale</display-name>
    <servlet-name>ElencoSchedePersonale</servlet-name>
    <servlet-class>safast.action.ElencoSchedePersonale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElencoSchedePersonale</servlet-name>
    <url-pattern>/ElencoSchedePersonale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportantScheda</display-name>
    <servlet-name>ImportantScheda</servlet-name>
    <servlet-class>safast.action.ImportantScheda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportantScheda</servlet-name>
    <url-pattern>/ImportantScheda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiudiScheda</display-name>
    <servlet-name>ChiudiScheda</servlet-name>
    <servlet-class>safast.action.ChiudiScheda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiudiScheda</servlet-name>
    <url-pattern>/ChiudiScheda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaScheda</display-name>
    <servlet-name>ModificaScheda</servlet-name>
    <servlet-class>safast.action.ModificaScheda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaScheda</servlet-name>
    <url-pattern>/ModificaScheda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllegatiScheda</display-name>
    <servlet-name>AllegatiScheda</servlet-name>
    <servlet-class>safast.action.AllegatiScheda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllegatiScheda</servlet-name>
    <url-pattern>/AllegatiScheda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownload</display-name>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>safast.action.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/FileDownload</url-pattern>
  </servlet-mapping>
</web-app>